{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/statixguestbook/css/styles.css') }}">
{% endblock %}

{% block body %}
    <div class="wrapper">
        {% block wrapper %}
            <div class="header">
                {% block header %}
                    <h1>Welcome to Guestbook! Add your sites reviews!</h1>
                    <p>Reviews database..</p>
                {% endblock %}
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
            <div class="footer">
                {% block footer %}
                    <h2>Thanks for your reviews (c)</h2>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}