{% extends 'StatixGuestbookBundle:Default:guestbook.html.twig' %}

{% block content %}
    <a href="{{ path('statix_guestbook_homepage') }}">Back to Homepage</a>
    <h2>The review was succesfully added.</h2>
{% endblock %}
